footer {
  background: linear-gradient(135deg, #2f8527 0%, #26f85a 100%);
  color: white;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer p {
  margin: 0;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}
