.header {
  background: linear-gradient(135deg, #2f8527 0%, #26f85a 100%);
  color: white;
  padding: 20px;
  padding-left: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 80px;
  width: auto;
}

.user-photo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
  margin-right: 40px;
}
